:root {
  --bg-primary: #141414;
  --bg-secundary: rgba(0, 0, 0, .5);
  --bg-tertiary: #FFF;
  --text-primary: #E50914;
  --text-secundary: #AAA;
  --text-tertiary: #FFF;
  --text-quaternary: #141414;
}

/* reset css default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base element*/

body {
  background: var(--bg-primary);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--text-tertiary);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  margin-left: 20px;
}

header .container .logo {
  margin-left: 5px;
  color: var(--text-primary);
  font-weight: bold;
  font-size: 40px;
}

header nav a {
  text-decoration: none;
  color: var(--text-secundary);
  margin-right: 10px;
}

header nav a:hover {
  color: var(--text-tertiary);
}

/* main movie */

main .main-movie {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)100%), url('/images/movie-mandalorian.jpg');
  
  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main-movie .container {
  width: 70%;
}

.main-movie .container .title {
  margin-top: 15%;
  font-size: 40px;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.main-movie .container .description {
  margin-top: 10px;
  margin-bottom: 40px;
}

.container .buttons .button {
  background-color: var(--bg-secundary);
  border-radius: 5px;
  border: 1px solid transparent;
  color: var(--text-tertiary);

  padding: 15px 30px;
  font-size: 12px;

  cursor: pointer;
  transition: .3s ease all;
}

.container .buttons .button:hover {
  background-color: var(--bg-tertiary);
  color: var(--text-quaternary);
}

.buttons button:nth-child(2) {
  margin-left: 15px;
}

.buttons .button i {
  margin-right: 8px;
}

/* carousel */

body .carousel-movie {
  margin-top: 5px;
}

.carousel-movie .item .box-movie {
  height: 100%;
  width: 100%;
  display: block;
}

/* support */

section.support {
  margin-top: 5px;
}

.support .container h4 {
  font-size: 40px;
}

.support .container .support-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container .support-list .logo-dio {
  margin-right: 45px;
}

.container .support-list .profile-felipe {
  margin-right: 5px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

/* footer */

footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 25px;
  margin-bottom: 15px;
}

footer .container i {
  margin-right: 8px;
}